*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --color-primary: #cc312d;
  --color-background-color: #f7f7f7;
  --text-color-primary: #1a1814;
  --text-color-secondary: #14141466;
  --border-color: #e6e6e6;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.6rem;
}
label,
input {
  font-size: 1.4rem;
}
input[type="text"],
select {
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
  background-color: var(--color-background-color);
  border: none;
  font-family: vazir-medium;
  outline: none;
  border-radius: 4rem;
}
.address input {
  border-radius: 1.2rem;
}

.reciver--information--inputs,
.deliver-address-inputs,
.reciver--information,
.select-send-type,
.deliver--address-text,
.type--of--send--text {
  display: grid;
  grid-template-columns: 1fr;
}
input,
label,
select {
  width: 100%;
}

.shop__information {
  background-color: var(--color-background-color);
  padding: 2rem;
  border-radius: 16px;
}
.shop-item-img {
  width: 100px;
  height: 100px;
  background-color: white;
  padding: 0.8rem;
  border-radius: 1.2rem;
  grid-row: 1 /-1;
}
.shop-item-priceAndNumber {
  grid-row: 2;
  grid-column: 2/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.value-product {
  grid-column: 3;
  text-align: end;
  font-size: 1.6rem;
}
.shop-item-img img {
  /* width: 100px;
  height: 100px; */
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.shop-item-plusIcon,
.shop-item-number,
.shop-item-delete {
  width: 40px;
  height: 40px;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-item-delete,
.shop-item-plusIcon {
  background-color: white;
}
.shop-item-delete svg {
  width: 20px;
  height: 20px;
}
.shop-item-number {
  font-size: 1.28rem;
}
.container-shop-item-number {
  display: flex;
  gap: 0.5rem;
}

/* .shop--title {
  padding: 2rem;
} */
.buy,
.post,
.factor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.factor--payment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1.2rem;
}
.payment__icon {
  width: 48px;
  height: 48px;
  background-color: #ebb81140;
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.payment__icon svg {
  width: 27px;
  height: 27px;
}
.payment--type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 12px;
}
.buy__text,
.post__text,
.factor__text {
  font-size: 1.4rem;
}
.buy__number::after,
.post__number::after,
.factor__number::after {
  font-size: 1.4rem;
  content: "تومان";
  margin-right: 1rem;
}
.buy__number,
.post__number {
  font-size: 1.6rem;
  color: var(--text-color-secondary);
}
.factor__number {
  font-size: 1.6rem;
}
.factor {
  border-top: 1px solid var(--border-color);
  padding-top: 2rem;
}
button {
  color: white;
  font-size: 1.6rem;
  background-color: var(--color-primary);
  border: none;
  width: 100%;
  height: 48px;
  border-radius: 44px;
  margin-top: 1rem;
  font-family: vazir-medium;
}
.shop-item-text {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.value-product::after {
  content: "میل";
  color: var(--text-color-secondary);
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.shop__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.shop-item-price {
  font-size: 1.6rem;
}
.shop-item-price::after {
  font-size: 1rem;
  content: "تومان";
  margin-right: 0.5rem;
  color: var(--text-color-secondary);
}
.check-sent-type {
  background-color: var(--color-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1.7rem 1.6rem;
  border-radius: 2rem;
  font-family: vazir-medium;
  font-size: 1.4rem;
}
.check-input {
  display: none;
}
.aligenment {
  display: flex;
  gap: 1rem;
}
.select-send-type {
  gap: 2rem;
  margin-bottom: 2rem;
}
.shop-item-text,
.shop-item-text2 {
  font-size: 1.4rem;
}
.shop__item {
  margin-top: 2rem;
  border-top: 1px solid var(--border-color);
  padding-top: 2rem;
}
.deliver--address-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deliver--address-text span {
  font-size: 1.4rem;
  color: var(--color-primary);
}
.type--of--send--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.type--of--send--text span {
  font-size: 1.4rem;
  width: 16.9rem;
  height: 4.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  background-color: #e5303f1a;
  padding: 16px 8px;
  border-radius: 3.2rem;
}
.details,
h2 {
  padding: 2rem;
}

.address input {
  height: 10rem;
}
.container {
  padding: 1rem;
  max-width: 1200px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}
.shop-item-priceAndNumber {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.payment__text {
  padding: 1rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="radio"] {
  width: 18px;
  height: 18px;
  border: 1px solid var(--border-color);
  border-radius: 6px;

  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
input[type="radio"]:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;

  clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

input[type="radio"]::before {
  transform: scale(0);
}
.check-sent-type:has(input[type="radio"]:checked) {
  background-color: white;
  border: 1.5px solid var(--color-primary);
}
.shop-item-number {
  border: 1px solid var(--border-color);
}
input[type="text"]{
  padding: 1rem;
  
}
input:focus{
  border: 1px solid var(--border-color);
  transition: all 0.2s;
}
@media screen and (min-width: 320px) {
  .type--of--send--text {
    flex-direction: row;
    margin-top: 1rem;
  }
  .type--of--send--text h2 {
    padding: 0rem 0.5rem;
  }
  .check-sent-type {
    flex-direction: row;
    justify-content: space-between;
  }
  .buy,
  .post,
  .factor {
    flex-direction: row;
  }
}

@media screen and (min-width: 480px) {
  .type--of--send--text {
    justify-content: space-between;
  }
  .check-input {
    display: block;
  }

  .select-send-type {
    white-space: nowrap;

    flex-wrap: wrap;
  }
  .shop__info {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
  }
  .shop-item-priceAndNumber {
    flex-direction: row;
    grid-column: 2/-1;
  }
  .shop-item-price {
    text-align: center;
  }
  .shop-item-text {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .shop-item-text2{
    white-space: nowrap;
  }
  .shop-item-img {
    grid-column: 1;
    grid-row: 1/-1;
  }
  .deliver-address-inputs,
  .reciver--information--inputs {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .address {
    grid-column: 1/-1;
  }
  .type--of--send--text {
    justify-content: space-between;
  }
}
@media screen and (min-width: 830px) {
  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    margin: 0 auto;
    padding: 3rem;
  }
  .shop__information {
    grid-row: 1;
    grid-column: 3/-1;
  }

  .deliver--address {
    /* background-color: red; */
    grid-column: 1/3;
  }
  .shop-item-text{
    flex-direction: column;
  }
}
